body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 30px auto; /* Increase the margin to add more space */
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form select, form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#order-summary {
    display: none;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

#order-summary h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

#order-summary p {
    font-size: 18px;
    margin: 10px 0;
}

#order-summary strong {
    font-weight: bold;
    margin-right: 10px;
}

/* Style the form inputs when they are focused */
form input:focus,
form select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
